body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(189, 191, 193);
}

section{
margin-top: 5%;
}

.bmi{
  border: 2px solid rgb(0, 119, 255);
  height: 400px;
  width: 70%;
  border-radius: 0.9em;
}

form{
  float: left;
}

h3{
  font-size: 1.6em;
  font-family: monospace;
  letter-spacing: -1px;
}

.finalPage{
  display: none;
}

.cm{
  white-space: nowrap;
  font-size: 1.03em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 5%;
}