body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(189, 191, 193);
}

section {
  margin-top: 5%;
}

.bmi {
  /* border: 2px solid rgb(0, 119, 255); */
  border: 2px solid;
  height: 400px;
  width: 50%;
  min-width: fit-content;
  border-radius: 1em;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #9bd3f6 0%, #5decdb 90%);
  box-shadow: 30px 40px 60px #1bffff, -39px -30px 60px #1dffff;

  overflow: hidden;
  text-overflow: ellipsis; 
}

.calculate {
  /* border: 2px solid rgb(238, 55, 10); */
  /* height: 850px; */
  max-height: 860px;
  width: 100%;
  border-radius: 0.9em;
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 90%);
  box-shadow: rgb(230, 114, 289) 0px 35px 70px -5px;

  overflow: hidden;
  text-overflow: ellipsis; 
}

.call {
  border-left: 2px solid red;
  height: 90%;
  margin-top: 20px;
}

.call ul li{
  white-space: nowrap;
}

form {
  float: left;
}

h3 {
  font-size: 1.6em;
  font-family: monospace;
  letter-spacing: -1px;
}

.finalPage {
  display: none;
}

.cm {
  white-space: nowrap;
  font-size: 1.03em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 5%;
}

.calculate-result {
  font-size: 23px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  margin-top: 1%;
  padding: 10px;
}

ul {
  list-style: inside;
  /* list-style: circle; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
}

ul h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 5px;
  font-size: 1.5em;
}

.alikartalonline {
  text-align: center;
  color: #ffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  letter-spacing: 0.1em;
  margin-top: 5px;
}

.alikartalonline a {
  text-decoration: none;
  color: black;
}

.alikartalonline a:hover {
  text-decoration: none;
  color: rgb(25, 102, 255);
  font-size: 20px;
}
